<p style="color: green"><%= notice %></p>

<%= render partial: 'configuration_items', locals: { configuration_items: [@configuration_item] } %>

<div>
  <% if can? :edit, @configuration_item %>
  <%= link_to "Edit", edit_configuration_item_path(@configuration_item), class: "inline-flex items-center px-3 py-1.5 border border-gray-300 text-sm rounded-lg text-gray-700 bg-sky-500 hover:bg-gray-100 transition" %> |
  <% end %>
  <%= link_to "Back to configuration items", configuration_items_path %>
  <% if can? :destroy, @configuration_item %>
  <%= button_to "Destroy this configuration item", configuration_item_path(@configuration_item), method: :delete, class: "inline-flex items-center px-3 py-1.5 border border-gray-300 text-sm rounded-lg text-gray-700 bg-gray-50 hover:bg-gray-100 transition" %>
  <% end %>
</div>